[package]
name = "catacomb"
version = "0.1.0"
description = "A Wayland mobile compositor"
authors = ["Christian Duerr <contact@christianduerr.com>"]
repository = "https://github.com/catacombing/catacomb"
rust-version = "1.70.0"
license = "GPL-3.0"
edition = "2021"

[workspace]
members = ["catacomb_ipc"]

[dependencies.smithay]
git = "https://github.com/chrisduerr/smithay"
rev = "48d7a8cff7c17758e5435ac94ce3f954a10cb39a"
default-features = false
features = [
    "use_system_lib",
    "backend_drm",
    "backend_gbm",
    "backend_libinput",
    "backend_udev",
    "backend_session_libseat",
    "renderer_gl",
]

[dependencies]
calloop = { version = "0.12.3", features = ["signals"] }
catacomb_ipc = { version = "0.1.0", path = "./catacomb_ipc", features = ["clap", "smithay"] }
clap = { version = "4.2.3", features = ["derive", "wrap_help"] }
dirs = "5.0.0"
libc = "0.2.123"
nix = { version = "0.27.0", features = ["ioctl"] }
serde_json = "1.0.85"
serde = { version = "1.0.144", features = ["derive"] }
tokio = "1.26.0"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
udev = "0.8.0"
zbus = { version = "3.11.0", default-features = false, features = ["tokio"] }
tracing-log = "0.2.0"
