[package]
name = "catacomb"
version = "0.1.0"
description = "A Wayland mobile compositor"
authors = ["Christian Duerr <contact@christianduerr.com>"]
homepage = "https://github.com/chrisduerr/catacomb"
rust-version = "1.59.0"
license = "GPL-3.0"
edition = "2021"

[dependencies.smithay]
git = "https://github.com/chrisduerr/smithay"
rev = "71ced9062941bcef1c6867d0c749bc26f186cbe3"
default-features = false
features = [
    "use_system_lib",
    "backend_drm",
    "backend_gbm",
    "backend_libinput",
    "backend_udev",
    "backend_session",
    "renderer_gl",
    "renderer_multi",
    "slog-stdlog"
]


[dependencies]
libc = "0.2.123"
dirs = "4.0.0"
udev = "0.6.2"

[features]
default = [ "winit", "systemd" ]
winit = ["smithay/backend_winit"]
libseat = ["smithay/backend_session_libseat"]
systemd = ["smithay/backend_session_logind"]
