[package]
name = "catacomb"
version = "0.1.0"
description = "A Wayland mobile compositor"
authors = ["Christian Duerr <contact@christianduerr.com>"]
repository = "https://github.com/catacombing/catacomb"
rust-version = "1.70.0"
license = "GPL-3.0"
edition = "2021"

[workspace]
members = ["catacomb_ipc"]

[dependencies.smithay]
git = "https://github.com/smithay/smithay"
default-features = false
features = [
    "use_system_lib",
    "backend_drm",
    "backend_gbm",
    "backend_libinput",
    "backend_udev",
    "backend_session_libseat",
    "renderer_gl",
]

[dependencies]
catacomb_ipc = { version = "0.1.0", path = "./catacomb_ipc", features = ["clap", "smithay"] }
zbus = { version = "3.11.0", default-features = false, features = ["tokio"] }
serde = { version = "1.0.144", features = ["derive"] }
clap = { version = "4.2.3", features = ["derive", "wrap_help"] }
serde_json = "1.0.85"
tokio = "1.26.0"
libc = "0.2.123"
dirs = "4.0.0"
udev = "0.6.2"
nix = "0.26.2"
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
